# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# SPIFFS
CONFIG_SPIFFS_MAX_PARTITIONS=3

# Log output
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

# Blackbox logger - use PX4 ULog format
CONFIG_BLACKBOX_FORMAT_PX4=y
CONFIG_BLACKBOX_STRUCT_LOGGING_ENABLED=y
